.flex-container {
    display: flex;
    align-items: flex-start;
    height: 90vh;
    overflow: auto;
}

.restaurantList {
    width: 15%;
  
    box-shadow:5px 10px 8px grey;
    float: left;
    border-radius: 3;
    margin: 10px;
    overflow: hidden;
}

.orderDisplay {
    float: left;
    flex: 0 0 auto;
    margin: 10px;
}

.restaurantList ol {
    list-style: none;
    padding: 5px;
    margin: 0;
}

.restaurantList ol li {
    text-align: left;
    font-size: 25px;
    margin: 7px 0px;
    padding: 7px 0px;
}